main {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
}

main > div {
    text-align: center;
    /* margin: auto; */
}

input {
    width: 99%;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    color: black;
    font-size: large;
    text-align: center;
}

input:focus {
    outline: none;
    border: 1px solid #646cff;
}

::placeholder {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
}
