main {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
}

main > div {
    text-align: center;
    padding: 1px 10px;
}

#input-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-left: 100px;
}

input {
    min-width: 700px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    color: black;
    font-size: large;
    text-align: center;
}

input:focus {
    outline: none;
    border: 1px solid #646cff;
}

::placeholder {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
}

#option  {
    margin-left: 10px;
    padding: 0.3em 0.3em;
    color: white;
    background-color: #1a1a1a;
    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
}